<html lang = "ko">
<head>
  <meta charset="utf-8"/>
  <title>my first node</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
  <h1>메모장</h1>
  <a href="/">뒤로가기</a><br/>
  <form action="/insert" method="post">
    <input type="text" name="title" required /> <br/> 
    <textarea rows="10" cols="50" type="text" name="content" required></textarea><br>

    <input type="submit" value="작성완료" /><br/> 
  </form>
</body>
</html>